@model SampleMvcFramework.Models.Stock

@{
    ViewBag.Title = "OnDelete";
}

<h2>Are you sure you want to delete this stock?</h2>
@using (Html.BeginForm())
{
    <div>
        <p>
            @Html.LabelFor(m => m.Id)
            @Html.DisplayFor(m => m.Id)
        </p>
        <p>
            @Html.LabelFor(m => m.Name)
            @Html.DisplayFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Description)
            @Html.DisplayFor(m => m.Description)
        </p>
        <p>
            @Html.LabelFor(m => m.UnitPrice)
            @Html.DisplayFor(m => m.UnitPrice)
        </p>
        <button type="submit">Delete stock</button>
        @Html.ActionLink("Go Back", "Index")
    </div>
}
