@model SampleMvcWebApp.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <p>@Model.Id</p>
    <p>@Model.Name</p>
    <p>@Model.Address</p>
    <p>@Model.Salary</p>
    <p>
        <img src="@Model.Image" alt="Image of employee" />
    </p>

</body>
</html>
